@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@700&display=swap");

body {
  margin: auto;
  background-color: #242349;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  margin: auto;
  height: 100%;
  width: 100%;
}

.container img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.2rem;
  width: 35%;
  height: 25%;
}

.nav {
  margin-left: 30rem;
  z-index: 9999;
  overflow: hidden;
  position: fixed;
  width: 30%;
  height: 90px;
  background: rgba(196, 196, 196, 0.3);
  border: 6px solid rgba(252, 238, 238, 0.7);
  box-sizing: border-box;
  backdrop-filter: blur(120px);
  border-radius: 26px;
}

.nav h2 {
  color: white;
  padding-left: 2rem;
  font-family: lobster;
  font-size: 2rem;
}

.container h1,
p {
  text-align: center;
  margin-top: -5rem;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.container h1 {
  font-size: 4rem;
}

.container p {
  font-size: 1.5rem;
}

.about-page {
  display: block;
  padding-top: 22rem;
  margin: auto;
  height: 100%;
  width: 100%;
}

.about-page img {
  float: left;
  padding-left: 2.5rem;
  padding-bottom: 13rem;
}

.about-page h1,
p {
  padding: 4.2rem;
  line-height: 2.5rem;
}

.about-page p {
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
}

